<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event>
        <title>Annual Tech Summit 2026</title>
        <date>March 15, 2026</date>
        <description>Join us for our biggest event of the year! The Annual Tech Summit features inspiring keynote speakers from leading tech companies, hands-on workshops covering the latest technologies, and networking opportunities with industry professionals. Don't miss this chance to expand your knowledge and connect with fellow tech enthusiasts!</description>
    </event>
</events>
